/* test update - CG */
.bob {
  border: 2px solid purple;
  color: red
}

td {
  align-content: center;
}

.color_square {
  background-color: #6f42c1;
}

.white_square {
  background-color: blanchedalmond;
}