/* test update - CG */
.bob {
  border: 2px solid purple;
  color: red;
}

td {
  align-content: center;
}

.color_square {
  background-color: #6f42c1;
}

.white_square {
  background-color: blanchedalmond;
}

nav {
  display: flex;
  text-align: right;
  flex-direction: column;
  color: white;
}

header {
  border: 4px solid black;
}

.bg-blue {
  background-color: rgb(0, 204, 255);
}

.text-light {
  background-color: rgb(0, 204, 255);
}

#timer {
  display: flex;
  justify-content: center;
}

#newPuzContainer {
  display: flex;
  justify-content: center;
}
/* .number {
  this targets the number content inside the bottom user select boxes
} */

.hidden {
  visibility: hidden;
}

body {
  font-family: "Kanit", sans-serif;
}

.align-items-center {
  display: flex;
  flex-flow: row;
}

.hidden {
  display: hidden;
}


.error{
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: auto;
  width: 50%;

  
    justify-content: center;
  }

  .red{
	color: red;
  }