/* test update - CG */
.bob {
  border: 2px solid purple;
  color: red;
}

td {
  align-content: center;
}

.color_square {
  background-color: #6f42c1;
}

.white_square {
  background-color: blanchedalmond;
}

nav {
  display: flex;
  text-align: right;
  flex-direction: column;
  color: white;
}

.bg-blue {
  background-color: rgb(0, 204, 255);
}

.text-light {
  background-color: rgb(0, 204, 255);
}

#timer {
  display: flex;
  justify-content: center;
}

#newPuzContainer {
  display: flex;
  justify-content:center;
}