* {
  box-sizing: border-box;
}
.navbar-expand {
  color: rgb(0, 217, 255);
}

.bg-blue {
  background-color: rgb(0, 204, 255);
}

.text-light {
  background-color: rgb(0, 204, 255);
}

body {
  font-family: Arial;
  margin: 0;
}
header {
  padding: 60px;
  text-align: left;
}
nav {
  display: flex;
  text-align: right;
  flex-direction: column;
  color: white;
}

main {
  display: flex;
  flex-wrap: wrap;
}
/* div {
  display: inline-block;
} */

.footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.bold {
  font-weight: bolder;
}


#newPuzContainer {
  display: flex;
  justify-content:center;
}
